@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
}
body,html{
    background: url(./infinity.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#copy{
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px darkblue,
    0 0 82px darkblue,
    0 0 92px darkblue,
    0 0 102px darkblue,
    0 0 151px darkblue;
}
header{
    background-color: rgba(12, 12, 12, 0.404);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    margin-top: 20px;
}

.fa-rocket{
    font-size: 3rem;
}

h1{
    color:#fffafa ;
    letter-spacing: 3px;
    border: 2px solid #fffafa;
    padding: 30px 20px;
    position: relative;
}
h1:hover{
    background-color: black;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px darkblue,
    0 0 82px darkblue,
    0 0 92px darkblue,
    0 0 102px darkblue,
    0 0 151px darkblue;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem darkblue,
    0 0 0.8rem darkblue,
    0 0 2.8rem darkblue,
    inset 0 0 1.3rem darkblue;
    cursor: pointer;

}
.navi{
    list-style: none;
}
.navi li{
    display: inline-block;
}

/* targeting specifically the a tag (child) of the list */

li>a{
    text-decoration: none;
    color: #fffafa;
    font-size: 2.2rem;
    padding: 0 20px;
}
li>a:hover{
    color: lightcoral;
    text-shadow: 
    0 0 42px darkblue,
    0 0 82px darkblue,
    0 0 92px darkblue,
    0 0 102px darkblue,
    0 0 151px darkblue;
}
button{
    padding: 20px 20px;
    font-size: 1.3rem;
    border-radius: 25px;
    color: white;
    border-style: none;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.5);
}


/* the single colon here represents pseudo-elements which means they are ale to insert content  */
button:hover:after{
    content: " and beyond !";
}
.container{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 500px;
    height: 150px;
    margin: auto;
}





